body {
    background-image: url("background.png");
    background-size: 90vw 100vh;
}

h1 {
    text-align: center;
}

#pokemons-container {
    justify-content: center;
    margin-top: 2vh;
    padding: 2vh;
    display: flex;
    flex-wrap: wrap;
    height: 80vh;
}

.pokemon {
    display: inline-block;
    text-align: center;
    overflow: hidden;
    height: 40.5vh;
    width: 9.4vw;
    background-color: rgba(232, 236, 241, 0.4);
    border-radius: 15%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

.pokemon:hover {
    background-color: rgba(232, 236, 241, 0.7);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

img {
    width: 5.5vw;
    height: 5.5vw;
}

.pokemon-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.pokemon-info {
    display: block;
    margin: 0.2vw;
    font-size: 0.8vw;
    color: darkslategrey;
}

#pagination-container {
    justify-content: center;
    padding: 2px;
    display: flex;
    flex-wrap: wrap;
    width: 10vw;
    margin-left: auto;
    margin-right: 44.5vw;
}

.pagination-button {
    padding: 0.1vh;
    width: 4vw;
    height: 1.6vw;
    margin: 1px;
    font-size: 0.7vw;
    border: none;
    border-radius: 20%;
    background-color: rgba(232, 236, 241, 0.7);
    color: darkslategrey;
    cursor: pointer;
}

.pagination-button-disabled {
    padding: 5px;
    width: 4vw;
    height: 1.6vw;
    margin: 1px;
    font-size: 0.7vw;
    border: none;
    border-radius: 20%;
    background-color: rgba(232, 236, 241, 0.4);
    color: darkslategrey;
}

.pagination-button:hover {
    background-color: rgba(232, 236, 241, 0.9);
}

button:focus {
    outline: none;
}

#opponents-container {
    margin-top: 45vh;
}

#pokemon {
    text-align: center;
    display: inline-block;
    position: absolute;
    left: 27vw;
}

#rival {
    text-align: center;
    display: inline-block;
    position: absolute;
    left: 66vw;
}

.opponent-name {
    display: block;
    font-size: 1.1vw;
    color: rgba(0, 0, 0, 0.7);
    background-color: rgba(232, 236, 241, 0.8);
    padding: 0 2vw;
    border-radius: 15%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

.opponent-health {
    display: flex;
    font-size: 1vw;
    color: rgba(0, 0, 0, 0.7);
    background-color: rgba(232, 236, 241, 0.0);
    padding: 0 1vw;
    border-radius: 15%;
}

.opponent-health-bar {
    color: rgba(232, 236, 241, 0.0);;
    background-color: forestgreen;
    height: 100%;
    width: 100%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

#final-container {
    margin-top: 20vh;
    padding: 2px;
    height: 10vh;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
}

#win-message {
    display: block;
    margin: auto;
}

#loading-container {
    display: block;
    margin-top: 20vh;
    padding: 2px;
    margin-left: auto;
    margin-right: auto;
}

#replay-button {
    display: block;
    width: 38vw;
    height: 5vh;
    margin-left: auto;
    margin-right: auto;
    padding: 0.3vw;
    font-size: 1.3vw;
    font-weight: lighter;
    background-color: rgba(232, 236, 241, 0.7);
    color: rgba(0, 0, 0, 0.4);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
    border-radius: 30%;
    border: none;
    cursor: pointer;
}

#replay-button:hover {
    background-color: rgba(232, 236, 241, 0.9);
}

/* Dropup Button */
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 0.1vh;
    width: 9.2vw;
    height: 1.6vw;
    margin: 1px;
    font-size: 0.7vw;
    border: none;
    border-radius: 20%;

}

.dropup {
    position: fixed;
    display: inline-block;
    float: left;
    margin-left: 2.8vw;
}

.dropup-content {
    display: none;
    position: absolute;
    bottom: 3.3vh;
    background-color: #f1f1f1;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
    z-index: 1;
    width: 100%;
    max-height: 42vh;
    border-radius: 10%;
    overflow: auto;
}

.dropup-content i {
    font-size: 0.8vw;
    color: black;
    padding: 0.5vh;
    text-align: center;
    text-decoration: none;
    display: block;
    border-radius: 20%;
}

.dropup-content i:hover {
    background-color: #ddd;
    cursor: pointer;
}

.dropup:hover .dropup-content {
    display: block;
}

.dropup:hover .dropbtn {
    background-color: #2980B9;
    cursor: pointer;
}

